<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <%- include('partials/header') %>
    
    <main class="px-16 py-10">
        <h1 class="text-3xl font-bold text-center mb-4">Sobre Nosotros</h1>
        <div class="max-w-4xl mx-auto bg-white text-center p-8 rounded-lg">
            <p class="text-lg text-gray-700 mb-10">
                Somos un equipo de estudiantes de la <strong>Universidad Autónoma de Nuevo León</strong>, comprometidos con mejorar la experiencia académica a través de nuestra plataforma de evaluación de profesores. Nuestra misión es proporcionar una herramienta donde los estudiantes puedan calificar y compartir opiniones sobre los profesores de manera objetiva y transparente.
            </p>
            <h2 class="text-2xl font-bold mt-6 mb-4">Equipo de Desarrollo</h2>
            <ul class="list-disc pl-6 text-gray-700 list-none mb-10">
                <li><strong>Aldo Sebastian Lopez Rivas</strong> - Ingeniería en Tecnologías de Software</li>
            </ul>
            <h2 class="text-2xl font-bold mt-6 mb-4">Objetivo del Proyecto</h2>
            <p class="text-lg text-gray-700">
                Nuestra plataforma permite a los estudiantes:
            </p>
            <ul class="list-disc pl-6 text-gray-700 list-none">
                <li>Buscar y calificar profesores.</li>
                <li>Compartir experiencias académicas.</li>
                <li>Acceder a información detallada de cada maestro.</li>
                <li>Ayudar a futuros estudiantes a tomar mejores decisiones académicas.</li>
            </ul>
        </div>
    </main>
</body>
</html>